body{
    background-color: #008080;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: navy;
}

table {
    font-size: 30px;
    justify-content: space-evenly;
    border-collapse: collapse;
    align-content: center;
    margin-left:40%; 
    margin-right:15%;
}
td, th {
    border: 1px solid #30D5C8;
    padding: 1rem;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 25px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

button{
    background-color: navy;
    border: none;
    color: #89CFF0;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}
.current_play, .player_score, .computer_score{
    text-align: center;
}
